/* App */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header svg {
  fill: currentColor;
}

.Header-item {

  white-space: nowrap;
}

.btn[disabled] {
  cursor: not-allowed;
}

.d-none-loading {
  display: none !important;
}

.Header .dropdown-menu {
  width: 240px;
}

@media screen and (max-width: 500px) {
  .Header > :not(.Header-item-nav){
    display: none;
  }  
}

.Footer {
  /* background-color: var(--color-header-bg); */
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid var(--color-auto-gray-2);
}

.Footer > *{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 5vw;
  margin-right: 5vw;
  width: 10vw; 
  flex-grow: 1;
}

.footer-logo {
  text-align: right;
}

.paginate-container {
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .footer-logo  {
    display: none;
  }
  .footer-signature {
    display: none
  }
  .Footer {
    bottom: 0px;
  }
}

/* Theme switcher */

.d-theme-switch-dark, .d-theme-switch-light {
  display: none;
}

/* Slides */

.slides {
  flex-grow: 1;
  display: flex;
  overflow-x: auto;
  padding-bottom: 16px;
}

.slide {
  overflow: auto;
  flex-shrink: 0;
  width: 100vw;
}

.slides-progress {
  border-radius: 0;
}

/* Slides interludes */
.slide .interlude h1, .slide .interlude h2, .slide .interlude h3, .slide .interlude h4, .slide .interlude h5, .slide .interlude h6 {
  text-align: center;
  border: none !important;
  font-size: 2em;
  margin: 25% 0;
}

/* Slides code snippets */

.slide pre {
  position: relative;
  min-height: 44px;
  background-color: #161B22;
  color: #c9d1d9;
}

.slide pre code {
  display: inline-block;
}

.slide pre .editor {
  position: absolute;
  color: transparent;
  margin: 0;
  padding: 0;
  white-space: pre;
  width: calc(100% - 32px);
  caret-color: var(--color-text-primary);
  background: transparent;
  border: none;
  resize: none;
}
.slide pre .editor:focus {
  outline: none;
}

.slide pre code:focus {
  outline: none;
}

.slide .executor-result:empty {
  display: none;
}

.slide .code-actions {
  position: absolute;
  right: 0;
  top: 0;
}

.slide .code-actions button svg {
  fill: currentColor;
}

.slide .code-actions button:not(:last-child) {
  margin-right: 0 !important;
}

.slide .executor-button[disabled=true] {
  cursor: progress;
}

/* Footnotes */

.slide footer.footnotes ul {
  list-style-type: none;
}

/* Scrollbars */

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
